{% extends "left_sidebar.html" %}

{% load staticfiles %}
{% load compress %}

{% block site_title %}Your Application Name{% endblock site_title %}

{% block extra_head_top %}
  {% compress css %}
    <link rel="stylesheet" href='{% static 'stylesheets/custom.css' %}' type="text/css" charset="utf-8">
  {% endcompress %}
{% endblock extra_head_top %}

{% block banner_title %}<div id="title">Your Application Name</div>{% endblock banner_title %}

{% block extra_footer_js %}
  {% compress js %}
    <!-- Vendor Files --> 
    <script type="text/javascript" src='{% static 'javascripts/vendor.js' %}'></script>

    <!-- Project Files -->
    <script type="text/javascript" src='{% static 'javascripts/templates.js' %}'></script>
    <script type="text/javascript" src='{% static 'javascripts/app.js' %}'></script>
  {% endcompress %}
{% endblock extra_footer_js %}
